* {
    margin: 0;
    padding: 0;

}








/*EX2*/
.EX11 {
    background-color: black;
}

.ND {
    margin: 30px;
    color: white;
    display: flex;
    justify-content: space-between;

}

.ND2 a {
    margin: 20px;
    margin-top: 20px;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

/*CT*/

.CT {
    display: flex;
    justify-content: space-between;
}

.CT1 {
    color: white;
    margin: 150px 0px 0px 150px;
    display: flex;
    flex-direction: column;


}

.navbars svg {
    fill: #fff;
}

.icon {
    margin: 0 0 5px 7px;
}

/* menu dâc cap */
.navbars a:hover {
    color: #c0a600;
}

.icons {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #ffffff;
    min-width: 160px;
    border-radius: 15%;
    z-index: 1;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: rgba(0, 0, 0, .5);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Animation */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.content {
    display: flex;
    background-color: #fff;
}

.animation {
    margin: 0px 0px 0px 100px;
    font-family: 'Roboto';
    text-align: center;

}

#container {
    color: #999;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    padding-top: 200px;

    width: 100%;
    bottom: 45%;
    display: block;

}

#flip {
    height: 50px;
    overflow: hidden;

}

#flip>div>div {
    color: #fff;
    padding: 4px 12px;
    height: 50px;
    margin-bottom: 45px;
    display: inline-block;

}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div div {
    background: #42c58a;

}

#flip div:first-child div {
    background: #4ec7f3;


}

#flip div:first-child div {
    background: #DC143C;

}

@keyframes show {
    0% {
        margin-top: -270px;
    }

    5% {
        margin-top: -180px;
    }

    33% {
        margin-top: -180px;
    }

    38% {
        margin-top: -90px;
    }

    66% {
        margin-top: -90px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}

.img {
    margin: 100px 0px 20px 100px;

}